.home-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    border: solid;
    border-color: blueviolet;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

.header-button {
    height: 40px;
    width: 10%;
}